@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #fbad7f93,#cdccc8,white);
}

header {
    width: 100%;
    height: 950px;
}

.navbar2 {
    margin-top: -110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    border-radius: 0px 0px 20px 20px;
    background: #F1F1F1;
    width: 350px;
    margin-bottom: 23px;
}

.navbar2 i {
    font-size: 25px;
    cursor: pointer;
}

.navbar2 .first-image1 {
    object-fit: contain;
}

.carousel {
    padding: 7px 10px;
    width: 350px;
    height: 215px;
    border-radius: 30px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -1000px;
}

.carousel h1 {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.carousel-images .second-image2 {
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.carousel-images {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.carousel-images i {
    cursor: pointer;
}

.carousel .adidas-desc {
    width: 200px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-top: 10px;
    text-transform: uppercase;
}

.adi-line {
    margin-top: 22.5px;
    margin-bottom: 18.5px;
    width: 390px;
    height: 1px;
    background: rgba(159, 159, 159, 0.30);
}

.adi-pop .pop-h1 {
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.pop-flexer {
    display: flex;
    align-items: center;
    margin-top: 31.11px;
    gap: 40px;
}

.pop-texts {
    border-radius: 20px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 16.7px;
    height: 150px;
    width: 135px;
}

.pop-texts h4 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.pop-texts i {
    color: black;
    cursor: pointer;
}

.one h4 {
    transform: translateY(-10px);
}

.one i {
    transform: translateY(-10px);
}

.two i {
    transform: translateY(10px);
}

.two h4 {
    transform: translateY(10px);
}

.seeMore {
    margin-top: 40.42px;
    padding: 6px 19px;
    transform: translateX(-10px);

    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.95);
}

.searched {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

body {
    overflow-x: hidden;
}

.footer {
    position: fixed;
    /* margin-top: 40px; */
    margin-bottom: 50px;
    width: 350px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 30px 30px 0px 0px;
    background: #F1F1F1;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.20);
    transform: translateY(245px);
}

.monarch {
    display: flex;
    justify-content: space-evenly;
}

.monarch i {
    padding: 20px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
}

.monarch .big {
    transform: translateY(-15px);
}

.barsof {
    position: relative;
    z-index: 100;
}

.barsof-child {
    z-index: 1;
    position: absolute;
    transform: translateY(105px) translateX(-85px);
    left: 670px;
    width: 293px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 0px 30px 30px 0px;
    background: #F1F1F1;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.barsof-child .appbar {
    transform: translateX(130px) translateY(10px);
    margin-bottom: 10px;

    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

@media (max-width: 576px) {
    .barsof-child {
        transform: translateX(-670px) translateY(100px);
    }
}
@media (max-width: 480px) {}
@media (max-width: 412px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {}

.settings {
    display: flex;
    padding: 10px 18px;
    gap: 85px;
}

.settings .setings {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.user {
    display: flex;
    padding: 10px 18px;
    gap: 89px;
}

.user .user-title {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.bell {
    display: flex;
    padding: 10px 18px;
    gap: 70px;
}

.bell .bell-title {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}